.container
  %h1= t Appointment.model_name.human
  %table.table.table-striped
    %tbody
      - @appointment.attributes.each do |key, value|
        - unless key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at'
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @appointment.status
            - else
              %td= t "activerecord.attributes.appointment.#{key}"
              - if key == 'doctor_id'
                %td= Doctor.find(value).name
              - elsif key == 'patient_id'
                %td= Patient.find(value).name
              - else
                %td= value
      = render 'admin/shared/show_images', object: @appointment
  = render 'admin/shared/show_rich_text_content', object: @appointment
  = render 'admin/shared/show_actions', object: @appointment
